body {
  overflow: hidden;
}

.vjs-5centsCDN-skin {
  --vjs-5centsCDN-skin--primary: #4fa83d;
  --vjs-5centsCDN-skin--secondary: #ffffff;
  --vjs-5centsCDN-skin--mainplayerhover: url("./assets/main-player-hover.svg");
  --vjs-5centsCDN-skin--mainplayer: url("./assets/main-player.svg");
}

.vjs-5centsCDN-skin .vjs-play-progress,
.vjs-5centsCDN-skin .vjs-volume-level {
  background-color: var(--vjs-5centsCDN-skin--primary);
}

.vjs-5centsCDN-skin .vjs-control-bar {
  background: none;
  background: rgba(255, 255, 255, 0.1);
  height: 35px;
  margin: 1%;
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.vjs-5centsCDN-skin .vjs-play-progress::before {
  background-color: var(--vjs-5centsCDN-skin--secondary);
  border-radius: 50px;
}

.vjs-5centsCDN-skin .vjs-time-tooltip {
  color: var(--vjs-5centsCDN-skin--secondary)
}

.vjs-5centsCDN-skin .vjs-control-bar .vjs-play-control {
  transform: scale(1);
  transition-duration: 0.5s;
}

.vjs-5centsCDN-skin .vjs-control-bar .vjs-play-control:hover {
  transform: scale(1.5);

}

.vjs-5centsCDN-skin .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  transition: none !important;
  transition: visibility 0.5s, opacity 0.5s, height 0.5s 0.5s, width 0.5s 0.5s, left 0.5s 0.5s, top 0.5s 0.5s !;
}

.vjs-5centsCDN-skin .vjs-volume-vertical {
  background-color: transparent;
}

.vjs-control .vjs-button {
  width: 40px;
  height: 35px;
}

.vjs-5centsCDN-skin .vjs-volume-level:before {
  color: var(--vjs-5centsCDN-skin--primary);
}

.vjs-5centsCDN-skin .vjs-big-play-button:before {
  content: var(--vjs-5centsCDN-skin--mainplayer) !important;
  transform: scale(0.4);

  margin-left:5px;
}

.vjs-5centsCDN-skin .vjs-big-play-button:hover:before {
  content: var(--vjs-5centsCDN-skin--mainplayerhover) !important;
  transform: scale(0.4);
}

.vjs-5centsCDN-skin .vjs-touch-overlay .vjs-play-control.vjs-playing::before {
  background-image: url("./assets/main-play-button-pause.svg") !important;
  transform: scale(0.6);
}

.vjs-5centsCDN-skin .vjs-touch-overlay .vjs-play-control.vjs-paused::before {
  background-image: var(--vjs-5centsCDN-skin--mainplayer) !important;
  transform: scale(0.6);
}

.video-js .vjs-big-play-button .vjs-icon-placeholder {
  align-items: center;
  position: absolute;
  left: 28px;
  display: flex;
}

/* .vjs-5centsCDN-skin .vjs-big-play-button {
  height: 0px !important;
  width: 0px !important;
  border: 0 !important;
  background: none !important;
} */



.vjs-5centsCDN-skin .vjs-quality-selector {
  display: none;
}

.vjs-5centsCDN-skin .vjs-quality-selector .vjs-icon-placeholder::before {
  content: 'Quality';

}

.vjs-5centsCDN-skin .vjs-quality-selector .vjs-menu-content {
  background: rgba(1, 1, 1, 0.75);
}

.vjs-5centsCDN-skin .vjs-quality-selector .vjs-menu-content .vjs-menu-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.vjs-5centsCDN-skin .vjs-quality-selector .vjs-menu-content .vjs-menu-item {
  color: var(--vjs-5centsCDN-text-color);
  text-transform: capitalize;
}

.vjs-5centsCDN-skin .vjs-quality-selector .vjs-menu-content .vjs-menu-item.vjs-selected {
  background-color: var(--vjs-5centsCDN-skin--primary);
}

.vjs-5centsCDN-skin .vjs-progress-holder {
  height: 0.5em;
}

.vjs-5centsCDN-skin .vjs-load-progress {
  background-color: unset;
}

.vjs-5centsCDN-skin .vjs-progress-holder,
.vjs-5centsCDN-skin .vjs-load-progress div,
.vjs-5centsCDN-skin .vjs-play-progress.vjs-slider-bar {
  border-radius: 10px !important;
}

.vjs-5centsCDN-skin .vjs-play-progress:before {
  top: -0.2em;
}

.vjs-5centsCDN-skin .vjs-play-progress .vjs-time-tooltip {
  background-color: var(--vjs-5centsCDN-skin--primary);
}

.vjs-5centsCDN-skin .vjs-seeking .vjs-loading-spinner:before,
.vjs-5centsCDN-skin .vjs-waiting .vjs-loading-spinner:before {
  border-top-color: var(--vjs-5centsCDN-skin--primary);
}

.vjs-5centsCDN-skin .vjs-seeking .vjs-loading-spinner:after,
.vjs-5centsCDN-skin .vjs-waiting .vjs-loading-spinner:after {
  border-top-color: var(--vjs-5centsCDN-skin--primary);
}

.vjs-5centsCDN-skin.vjs-paused .vjs-big-play-button {
  display: block;
}

.vjs-5centsCDN-skin.vjs-playing .vjs-big-play-button,
.vjs-5centsCDN-skin.vjs-seeking .vjs-big-play-button {
  display: none;
}

@keyframes vjs-spinner-fade {
  0% {
    border-top-color: var(--vjs-5centsCDN-skin--secondary);
  }

  20% {
    border-top-color: var(--vjs-5centsCDN-skin--secondary);
  }

  35% {
    border-top-color: var(--vjs-5centsCDN-skin--primary);
  }

  60% {
    border-top-color: var(--vjs-5centsCDN-skin--secondary);
  }

  100% {
    border-top-color: var(--vjs-5centsCDN-skin--secondary);
  }
}

@-webkit-keyframes vjs-spinner-fade {
  0% {
    border-top-color: var(--vjs-5centsCDN-skin--secondary);
  }

  20% {
    border-top-color: var(--vjs-5centsCDN-skin--secondary);
  }

  35% {
    border-top-color: var(--vjs-5centsCDN-skin--primary);
  }

  60% {
    border-top-color: var(--vjs-5centsCDN-skin--secondary);
  }

  100% {
    border-top-color: var(--vjs-5centsCDN-skin--secondary);
  }
}

























.vjs-5centsCDN-skin .vjs-sm-top-level-header {
  display: flex;
  flex-direction: column;
}

.vjs-5centsCDN-skin .vjs-cv-control {
  position: fixed;
  top: 1em;
  left: 1em;
  height: 20px;
  line-height: 20px !important;
  font-weight: 900;
  background: rgba(0, 0, 0, 34%) url("./assets/eye.svg") no-repeat left center;
  background-size: 10px 10px;
  background-position-x: 1em;
  border-radius: 6px;
}

.vjs-5centsCDN-skin .vjs-cv-control .vjs-cv-display {
  font-size: 0.9em;
  text-align: center;
  position: relative;
  left: 1em;
}

.vjs-5centsCDN-skin .vjs-seek-to-live-control {
  position: fixed;
  top: 1em;
  right: 2em;
  height: 20px;
  background: url("./assets/dvr.svg") no-repeat center center;
  background-size: contain;
}

.vjs-5centsCDN-skin .vjs-seek-to-live-control.vjs-at-live-edge {
  position: fixed;
  top: 1em;
  right: 2em;
  height: 20px;
  background: url("./assets/live.svg") no-repeat center center;
  background-size: contain;
}

.vjs-5centsCDN-skin .vjs-seek-to-live-control .vjs-seek-to-live-text {
  display: none;
}

.vjs-5centsCDN-skin .vjs-seek-to-live-control .vjs-icon-placeholder {
  color: unset !important;
}

.vjs-5centsCDN-skin .vjs-seek-to-live-control .vjs-icon-placeholder:before {
  content: "";
}

.vjs-5centsCDN-skin .vjs-live-control .vjs-live-display {
  position: fixed;
  top: 1em;
  right: 2em;
  height: 20px;
  background: url("./assets/live.svg") no-repeat center center;
  background-size: contain;
  font-size: 2em;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.vjs-5centsCDN-skin .vjs-control-bar .vjs-time-control {
  line-height: 33px !important;
}



.vjs-5centsCDN-skin .vjs-current-time {
  display: block;
}

.vjs-5centsCDN-skin .vjs-remaining-time {
  display: none;
}

.vjs-5centsCDN-skin .vjs-duration {
  display: block;
}

/* volume mute icon  */
.vjs-5centsCDN-skin .vjs-control-bar .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before,
.vjs-icon-volume-mute:before {
  content: url(./assets/volume-mute.svg) !important;
  transform: scale(0.4);
}

/*  volume low icon*/
.vjs-5centsCDN-skin .vjs-control-bar .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before,
.vjs-icon-volume-low:before {
  content: url(./assets/volume-no.svg) !important;
  transform: scale(0.4);
}

/* volume half icon */
.vjs-5centsCDN-skin .vjs-control-bar .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before,
.vjs-icon-volume-mid:before {
  content: url(./assets/volume-half.svg) !important;
  transform: scale(0.4);
}

/* volume full icon */
.vjs-5centsCDN-skin .vjs-control-bar .vjs-mute-control .vjs-icon-placeholder:before,
.vjs-icon-volume-high:before {
  content: url(./assets/volume-full.svg) !important;
  transform: scale(0.4);
}

/* picture in picture icon */
.vjs-5centsCDN-skin .vjs-control-bar .vjs-picture-in-picture-control .vjs-icon-placeholder:before,
.vjs-icon-picture-in-picture-enter:before {
  content: url(./assets/picture-in-picture.svg) !important;
  transform: scale(0.4);
}

/* fullscreen icon */
.vjs-5centsCDN-skin .vjs-control-bar .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-enter:before {
  content: url(./assets/fullscreen.svg) !important;
  transform: scale(0.4);
}

/* exit fullscreen icon */
.vjs-5centsCDN-skin.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before,
.vjs-icon-fullscreen-exit:before {
  content: url(./assets/fullscreen-exit.svg) !important;
  transform: scale(0.4);
}

/* audio icon */
.vjs-5centsCDN-skin .vjs-audio-button .vjs-icon-placeholder:before,
.vjs-icon-audio:before {
  content: url('./assets/audio.svg');
  transform: scale(0.6);
  padding-top: 4px;
}

/* chapters icon */
.vjs-5centsCDN-skin .vjs-chapters-button .vjs-icon-placeholder:before,
.vjs-icon-chapters:before {
  content: url('./assets/chapters.svg');
  transform: scale(0.5);
}

/* exit picture in picture mode icon */
.vjs-5centsCDN-skin.vjs-picture-in-picture .vjs-picture-in-picture-control .vjs-icon-placeholder:before,
.vjs-icon-picture-in-picture-exit:before {
  content: url(./assets/picture-in-picture-exit.svg) !important;
  transform: scale(0.4);
}

/* captions icon */
.vjs-5centsCDN-skin.video-js .vjs-captions-button .vjs-icon-placeholder:before,
.video-js:lang(en) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js:lang(fr-CA) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.vjs-icon-captions:before {
  content: url(./assets/captions.svg) !important;
  transform: scale(0.4);

}

.vjs-5centsCDN-skin .vjs-subs-caps-button+.vjs-menu .vjs-captions-menu-item .vjs-menu-item-text .vjs-icon-placeholder {
  vertical-align: middle;
  display: none !important;
  margin-bottom: -0.1em;
}

.js-focus-visible .vjs-menu li.vjs-selected:hover,
.vjs-menu li.vjs-selected,
.vjs-menu li.vjs-selected:focus,
.vjs-menu li.vjs-selected:hover {
  background-color: var(--vjs-5centsCDN-skin--primary);
  color: var(--vjs-5centsCDN-text-color);
}

.vjs-5centsCDN-skin .vjs-control {
  margin-right: 1px;
}

/* share button  */
/* volume section customize */
.vjs-5centsCDN-skin .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  opacity: 1;
}

.vjs-5centsCDN-skin .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical .vjs-volume-bar {
  width: 2em;
  background: linear-gradient(rgba(0, 0, 0, 0.438),
      rgba(0, 0, 0, 0.438) 50%,
      transparent 50%,
      transparent) center bottom / 5px 4px;
}

.vjs-5centsCDN-skin .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical .vjs-volume-level {
  width: 2em;

  background: linear-gradient(var(--vjs-5centsCDN-skin--secondary),
      var(--vjs-5centsCDN-skin--secondary) 50%,
      transparent 50%,
      transparent) center bottom / 5px 4px;
}

.vjs-5centsCDN-skin .vjs-volume-level:before {
  display: none;
}

.vjs-5centsCDN-skin .vjs-settings-menu .vjs-icon-placeholder:before,
.vjs-icon-chapters:before {
  content: url('./assets/settings.svg');
  transform: scale(0.5);
  cursor: pointer;
}


/* videojs share icon */
.vjs-5centsCDN-skin .vjs-control-bar .vjs-social-share span:before {
  content: "";

  background-image: url(./assets/share.svg) !important;
  transform: scale(0.5);

  display: inline-block;
  width: 100%;
  height: 28px;
  background-repeat: no-repeat;

}

.vjs-captions-menu-item>.vjs-menu-item-text>.vjs-icon-placeholder {
  display: none;
}

/* playback rate button */
.vjs-5centsCDN-skin .vjs-control-bar .vjs-playback-rate {
  display: none;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share {
  background: rgba(0, 0, 0, 0.65);
  padding: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share #share_url_copied_popup {
  position: absolute;
  top: -32px;
  left: 8px;
  background: black;
  border-radius: 6px;
  padding: 5px;
  display: none;
}

#my-video-vjs-settings-menu-default li {
  display: flex;
  justify-content: space-between;
}

/* videojs share icon */
.vjs-5centsCDN-skin .vjs-control-bar .vjs-social-share {
  height: 25px;
  position: relative;
  left: -25px;
}

#my-video-vjs-settings-menu-default {
  padding: 2px;
  border-radius: 2px;
  outline: 7px solid rgba(43, 51, 63, .7);
  outline-offset: 0px;

}

.vjs-5centsCDN-skin .vjs-menu-content {
  border-radius: 9px;
}

/* share modal title */
.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #ffffff;
  display: none;
}

/* share input field */
.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .share-url-field {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  height: 3em;
  width: 23em;
  margin-bottom: 0.5em;
  color: #ffffff;
  padding: 7px;
  display: none;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .share-button {
  border-radius: 5px;
  margin: -0.8em;
  cursor: pointer;
  width: 6em;
  height: 6em;
  transform: scale(0.6);
}

/* resolution */
.vjs-5centsCDN-skin .vjs-resolution-button .vjs-icon-placeholder:before {
  font-size: 2em;
  line-height: 2em;
}

.vjs-5centsCDN-skin .vjs-resolution-button-label {
  position: relative;
  top: -60%;
}

/* copy  share url section */
.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-copy-url-button {
  background-color: var(--vjs-5centsCDN-skin--primary);
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-copy-url-button .icon {
  content: url("./assets/copy.svg");
}

/* facebook share section */
.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-facebook-share {
  background-color: #3b5998;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-facebook-share .icon {
  content: url("./assets/facebook.svg");
}

/* google share section */
.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-google-share {
  background-color: #d34836;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-google-share .icon {
  content: url("./assets/google.svg");
}

/* linkedin share section */
.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-linkedin-share {
  background-color: #2867b2;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-linkedin-share .icon {
  content: url("./assets/linkedin.svg");
}

/* twitter share section */
.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-twitter-share {
  background-color: #1da1f2;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-twitter-share .icon {
  content: url("./assets/twitter.svg");
}

/* pinterest share section */
.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-pinterest-share {
  background-color: #e60023;
}

.vjs-5centsCDN-skin .vjs-5centscdn-share-modal .vjs-modal-dialog-content div .vjs-5centscdn-share .vjs-share-group-button .vjs-pinterest-share .icon {
  content: url("./assets/pinterest.svg");
}



/* settings button */
.vjs-5centsCDN-skin .vjs-control.vjs-button.vjs-settings-menu-button {
  display: block;
}

/* video js remove auto focus border */
.vjs-5centsCDN-skin .vjs-control {
  box-shadow: none;
  outline: none;
  border: none;
}

.vjs-5centsCDN-skin .vjs-modal-dialog {
  box-shadow: none;
  outline: none;
  border: none;
}

.vjs-5centsCDN-skin .vjs-menu li {
  box-shadow: none;
  outline: none;
  border: none;
}

.vjs-5centsCDN-skin .vjs-control .vjs-button {
  box-shadow: none;
  outline: none;
  border: none;
}
